/* Metourni Noureddine */

#right-menu-btn{
    min-width: 100%;
}
.list-group-item.active {
    color: white;
    background-color: #1d89ff;
}
.list-group-item.active:hover {
    color: #1d89ff;
    background-color: white;
}

.right-menu>.list-group>.list-group-item>.badge{
    font-size: large;
    color: white;
    background: #fa3e3e;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 992px) {
    #meto{
        display: block;
    }
    #right-menu-btn{
        display: block;
    }
    .right-menu{
        display: none;
    }
}


@media (min-width: 992px) {
    #meto{
        display: none;
    }
    #right-menu-btn{
        display: none;
    }
    .right-menu{
        display: block;
    }

}


